/*
 * Empty Stylesheet file.
*/

.mainFxmlClass {

}


.button
{
    -fx-animated: true;
    -fx-cursor: hand;
    -fx-background-color: #212C7B;
    -fx-border-color: white;
    -fx-border-insets: 1,1,1,1;  
}